# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
log/
logs
debug.log
error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build output
dist/
build/
tmp/
temp/

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Production bundles
*.tgz

# IDE / Editor files
.idea/
*.swp

# Optional cache folders
.cache/
.terraform/
